<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Recommendation App</title>
  </head>
  <body>
    <div class="login">
        <h1> Find book recommendations based on your favourite book:</h1>
      <form action="{{ url_for('Recommend')}}" method="POST">
        <input type="text", name="title", placeholder="Book Title" /><br>
        <input type="text", name="author", placeholder="Book Author" /><br>

        <button type="submit" method="get" class="btn btn-primary btn-block btn-large">Recommend</button>
      </form>
  </body>
</html>
